//---------------------FUNTES
$cursiva: 'Tangerine', cursive;
$thin:300;
$normal:400;
$bold:700;

// ------------------RESOLUCIONES
$telefono:480px;
$tableta:768px;
$laptop:980px;
$escritorio:1200px;

//--------------------COLORES
$claro0:#F9F9F9;
$claro1:#F3EAEA;
$naranja:#E1DA17;
$rojo:#F55634;
$oscuro60:#00000099;
$oscuro:#000000;
